.container {
    text-align: center;
}

.title {
    color: white;
    margin-top: 50px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title span {
    color: #26ffcb;
    padding-left: 15px;
}
.reset {
    width: 250px;
    height: 100px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 26px;
    color: #26ffcb;
    margin-top: 25px;
    margin-bottom: 50px;
}
.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 180px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}
.board {
    display: flex;
    height: 600px;
    width: 564px;
    margin: auto;
}
.title img {
    padding: 20px;
    height: 50px;
}